In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv('QLD_Mobile.csv', encoding='latin-1')

In [3]:
df = df.loc[:,:'Cellphone']

In [11]:
df.head()

,Phone,Title,FirstName,LastName,StreetAddress,City,States,PostCode
0,61419532258,NaN,Clare,Pullar,Unit 5 35 Buchanan St,WEST END,QLD,4101.0
1,61439774023,Ms,Fiona,Balkin,PO Box 839,GLADSTONE BC,QLD,4680.0
2,61415773269,Bronwyn,Carstairs Bronwyn,Carstairs,7 Franklin St,Wakerley,QLD,4154.0
3,61425841360,P,P,Conway,12 Lollard St,Mile End,QLD,NaN
4,61412689204,F,Margaret.,Thomas,"17 Gretel Drive Beachmere Qld,australia",Beachmere,QLD,4510.0

In [4]:
df['Country_Code'] = '61'
df['Cellphone'] = df['Cellphone'].astype(str)
df['Cellphone'] = df['Country_Code']+df['Cellphone']
df.drop('Country_Code', axis= 1, inplace= True)
df['Cellphone'] = df['Cellphone'].astype('int64')

In [5]:
df.columns

Index(['Title', 'FirstName', 'LastName', 'StreetAddress', 'City', 'States',
       'PostCode', 'Cellphone'],
      dtype='object')

In [6]:
df = df [['Cellphone','Title', 'FirstName', 'LastName', 'StreetAddress', 'City', 'States', 'PostCode']]

In [7]:
df.rename(columns={'Cellphone':'Phone'}, inplace=True)

In [8]:
a = df.shape[0]
b = 21000
c = a/b
c = math.ceil(c)

In [9]:
df_split= np.array_split(df, c)

In [10]:
for i in range(c):
    for x in df_split:
        d =  pd.DataFrame(df_split[i])
        d.to_csv('QLD_Cellphone_0'+str(i+1)+".csv", index= False)